@import "normalize.less";
@import "syntax.less";

@import url(//fonts.googleapis.com/css?family=Lato:400,700);
@import url(//fonts.googleapis.com/css?family=Raleway:400,700);

/***********************************************************
                        VARIABLES
************************************************************/
@BODY_BACKGROUND_COLOR: #fff;
@BODY_BACKGROUND_COLOR_DARKER: #eee;
@BODY_TEXT_COLOR: #333;
@SIDEBAR_BACKGROUND_COLOR: #333;
@SIDEBAR_TEXT_COLOR: #e4e7ea;
@LINK_COLOR: #03acd7;
@LINK_HOVER_COLOR: #369;
@BORDER_COLOR: #EFEFEF;
@WELL_COLOR: #EFEFEF;
@LINE_HEIGHT: 1.6em;
@VERTICAL_PADDING: 1em;
@HORIZONTAL_PADDING: 1em;
@tablet-width: 768px;
@mobile-width: 480px;

/***********************************************************
                        MIXINS
************************************************************/
.Border-radius (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.Transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

.Box-shadow (@params) {
    -webkit-box-shadow: @params;
    -moz-box-shadow: @params;
    -ms-box-shadow: @params;
    -o-box-shadow: @params;
    -transition-box-shadow: @params;
}

.Default-padding () {
    padding: @VERTICAL_PADDING @HORIZONTAL_PADDING;
}



/***********************************************************
                    BASE STYLES
************************************************************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5em;
    font-size: 110%;
    color: @BODY_TEXT_COLOR;
}

h1, h2, h3, h4 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 2.5em;
    line-height: 1em;

    a,
    a:hover {
        text-decoration: none;
    }

}

h2 {
    font-size: 1.4em;
    line-height: @LINE_HEIGHT * 0.7;
    font-weight: bold;

    @media all and (max-width: @tablet-width) {
        font-size: 1.2em;
    }
}

h3 {
    font-size: 1.5em;
    line-height: @LINE_HEIGHT;
    margin: 0.3em 0;

    + p {
        margin-top: 0;
    }
}

h4 {
    font-size: 1em;
}

p {
    font-size: 1em;
    line-height: @LINE_HEIGHT;
}

a {
    .Transition(all 250ms ease);
    color: @LINK_COLOR;
    text-decoration: none;
}

a:hover {
    color: @LINK_HOVER_COLOR;
    text-decoration: underline;
}

h1, h2, h3, h4 {
    a, a:hover {
        color: @BODY_TEXT_COLOR;
    }
}

blockquote {
    padding: 0.5em 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2em;
    background-color: @WELL_COLOR;
    border-left: 5px solid #F3A500;

    p {
        margin: 0;
    }
}



/***********************************************************
                    MAIN STYLES
************************************************************/
#container {
    margin: 0 auto;

    background-color: @BODY_BACKGROUND_COLOR_DARKER;

    &.post {
        background-color: @BODY_BACKGROUND_COLOR;
    }
}

#page-header {

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    line-height: 1.5em;
    z-index: 10;
    font-size: 1em;

    border-bottom: 1px solid @BORDER_COLOR;
    background-color: @SIDEBAR_BACKGROUND_COLOR;
    color: @SIDEBAR_TEXT_COLOR;

    h1 {
        padding: 0;
        margin: 0;
        display: inline-block;
        line-height: 1em;

        a {
            display: inline-block;
            background: transparent url(/images/badoo-logo.png) center center no-repeat;
            background-size: contain;
            text-indent: -9999px;
            width: 3em;
        }

        strong {
            display: inline;
            line-height: 1em;
            vertical-align: middle;
            font-size: 0.4em;
            letter-spacing: -1px;
        }
    }

    ul {
        margin: 0.3em 0;
        right: 5px;
        top: 11px;

        @media all and (min-width: @mobile-width) {
            position: absolute;
        }
    }

}

#user-nav {
    padding-left: 0;
    text-align: center;

    li {
        display: inline-block;
        font-weight: bold;

        a {
            padding: 0.25em 5px;
            color: #fff;

            &:hover {
                color: @SIDEBAR_TEXT_COLOR;
                text-decoration: none;
            }
        }
    }
}

#page-content {
    .Default-padding();
    overflow: hidden;
    word-wrap: break-word;

    .summaries {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: space-around;
        align-content: stretch;
        background-color: @BODY_BACKGROUND_COLOR_DARKER;
    }

    @media all and (min-width: @tablet-width) {
        min-height: 900px;
        width: @tablet-width;
        margin: 0 auto;
    }
}

#page-footer {
    margin-top: 1em;
    background: @SIDEBAR_BACKGROUND_COLOR;

    p {
        text-align: center;
        color: white;
        padding: 1em 0;
        margin: 0;
    }

    h3 {
        text-align: center;
    }

    a {
        background: @WELL_COLOR;
        border-radius: 2px;
        display: inline-block;
        font-size: 0.9em;
        min-width: 6em;
        margin: 0.2em 0.1em;
        padding: 0.2em 0.5em;
    }

    li {
        list-style-type: none;
        text-align: center;
        display: inline-block;
    }

    ul {
        padding-left: 0;
        text-align: center;
    }

    #categories {
        padding: 0 3%;

        h3 {
            color: @SIDEBAR_TEXT_COLOR;
        }

        a {
            color: white;
            background: @LINK_COLOR;
            min-width: 3em;
        }
    }

}

.highlight {
    padding: @HORIZONTAL_PADDING / 2;
    background-color: @WELL_COLOR;

    @media all and (max-width: @mobile-width) {
        font-size: 0.9em;
    }
}

pre {
    white-space: pre;
    overflow: auto;
    margin: 0;
}

.post-summary {

    flex: 1 1 40%;
    position: relative;
    background: #fff;
    padding: 1em;
    margin: 10px;
    box-shadow: 0 1px 2px 1px #ddd;
    border-radius: 2px;

    .Transition(all 250ms ease);

    &:hover {
        background: #eee;
        box-shadow: none;
    }

    @media all and (max-width: @tablet-width) {
        flex: 1 1 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    .post-header {
        margin-bottom: 1em;
    }

    .post-author-image {
        right: 10px;
        top: 10px;
    }

    a {
        color: @BODY_TEXT_COLOR;
    }

    a:hover {
        color: @LINK_HOVER_COLOR;
        text-decoration: none;
    }

    &:last-of-type {
        border-bottom: none;
    }

    img {
        display: none;
    }
}

.post-header {
    position: relative;

    h2 {
        margin: 0;
        padding-right: 60px;
    }
}

.post-title {
    margin-bottom: 0;
}

.post-meta {
    margin: 0.25em 0;
    font-size: 0.9em;
    color: lighten(@BODY_TEXT_COLOR, 25%);
}

.post-tags {
    padding-left: 0;
    margin-bottom: 0.5em;

    li {
        display: inline-block;

        a {
            .Border-radius(5px);
            font-size: 0.9em;
            padding: 0.2em 0.5em;
            margin-bottom: 5px;
            display: inline-block;
            background-color: @LINK_COLOR;
            color: white;
        }
    }
}

.post-networks {
    clear: both;
    overflow: hidden;

    > * {
        float: left;
        margin-right: 10px;
    }
}

.post-author-image {
    .Border-radius(50%);
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    background: transparent none center center no-repeat;
    background-size: contain;

    @media all and (max-width: @mobile-width) {
        width: 50px;
        height: 50px;
    }
}

.post-content {
    img {
        margin: 0 auto;
        display: block;
        .Box-shadow(0 0 15px 3px #ddd);
        .Border-radius(2px);

        max-width : 90%;

    }

    img.no-box-shadow {
        .Box-shadow(none);
    }

    code {
        font-size: 0.8em;
        line-height: 1em;
    }

    li {
        padding-bottom: 1em;
    }

    p {
        word-spacing: 1px;
    }
}

.post-footer {
    padding: 1em 0;
}

.post-summary,
.post-title,
.post-content,
.post-footer {
    max-width: 750px;
}

.fb-like {
    min-height: 30px;
}

.twitter-share-button {
    display: block;
    margin: 0.3em 0;
    min-height: 20px;
}

a.button {
    display: block;
    text-align: center;
    background: @LINK_COLOR;
    color: @BODY_BACKGROUND_COLOR;
    line-height: 2em;
}

.video {
    width: 100%;
}
