<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ site.name }}</title>
    {% endif%}

    {% if site.use_lessjs %}
    <link rel="stylesheet/less" type="text/css" href="/css/main.less">
    {% else %}
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {% endif %}

    <script>
        var disqus_shortname = '{{ site.disqus_shortname }}';
    </script>

</head>
<body>

    <div id="container">

        <header id="page-header">
            <h1><a href="/">Badoo</a></h1>
            <p><strong>Tech Blog</strong></p>

            <ul id="user-nav">
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#categories">Categories</a></li>
            </ul>
        </header>

        <section id="page-content">
        {{ content }}
        </section>

        <footer id="page-footer">
            <section id="categories">
                <h3>Categories</h3>
                <ul>
                {% for category in site.categories %}
                    <li><a href="/categories/{{ category[0] }}">{{ category[0] }}</a></li>
                {% endfor %}
                </ul>
            </section>
            <p>&copy; Badoo {{ 'now' | date: "%Y" }}</p>
        </footer>

    </div>

    {% if site.use_lessjs %}
    <script>
        var less = {
            poll: 1000
        };
    </script>
    <script src="/js/less.js"></script>
    <script>
        less.watch();
    </script>
    {% endif %}

    <script type="text/javascript">

        var disqus_shortname = '{{ site.disqus_shortname }}'; // required: replace example with your forum shortname

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());

    </script>

</body>
</html>
