<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article# website: http://ogp.me/ns/website#">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, width=device-width" />
    <meta name="google-site-verification" content="2CRZHg3_21WS3yrIGOsaobptBg1Yv00QtjGZvitVH-Q" />

    <!-- Open Graph Meta Data -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
    <meta property="og:image" content="{{ site.url }}/images/badoo-logo-square.png">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">
    <meta property="og:image:type" content="image/png">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:description" content="{% if page.summary %}{{ page.summary }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>

    <link rel="icon" type="image/png" sizes="96x96" href="/icon-96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
    <meta name="theme-color" content="#000000">

    {% if page.author && page.categories %}
        <meta property="og:type" content="article"/>
        <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}"/>
        {% for category in page.categories %}
            <meta property="article:tag" content="{{ category }}"/>
        {% endfor %}
    {% else %}
        <meta property="og:type" content="website"/>
    {% endif %}

    <meta property="fb:admins" content="61302222"/>
    <meta property="fb:app_id" content="643150872465380"/>

    <title>{{ site.name }} :: {{ page.title }}</title>

    {% if site.use_lessjs %}
    <link rel="stylesheet/less" type="text/css" href="/css/main.less">
    {% else %}
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {% endif %}

    <!-- Disqus shortname - used for comment count and discussion threads -->
    <script>
        var disqus_shortname = '{{ site.disqus_shortname }}';
    </script>

</head>
<body>
    <div id="fb-root"></div>

    <div id="container" class="{{ page.type }}">

        <header id="page-header">
            <h1><a href="/">Badoo</a><strong>Tech Blog</strong></h1>

            <div id="user-nav">
                <strong>Follow Us:</strong>
                <a class="icon twitter" target="_blank" href="https://twitter.com/badootech" title="Twitter">Twitter</a>
                <a class="icon facebook" target="_blank" href="https://www.facebook.com/badootech" title="Facebook">Facebook</a>
                <a class="icon github" target="_blank" href="https://github.com/badoo" title="Github">Github</a>
                <strong> or </strong>
                <a class="subscription" href="/subscribe">Subscribe</a>
            </div>
        </header>

        <section id="page-content">
            {{ content }}

            <section id="related-content">
                <section id="jobs">
                    <a href="http://badoo.jobs" target="_blank">We're hiring! Join us.</a>
                </section>

                <section id="recent-posts">
                    <h3>Recent Posts</h3>

                    <ul>
                    {% for post in site.posts limit:5 %}
                        {% include post-title.html %}
                    {% endfor %}
                    </ul>
                </section>

                <section id="categories">
                    <h3>Categories</h3>
                    <ul>
                    {% for category in site.categories %}
                        <li><a href="/categories/{{ category[0] }}">{{ category[0] | replace:'-',' ' | capitalize | replace:'Ios':'iOS' | replace:'Qa':'QA' | replace:'Css':'CSS' | replace:'Php':'PHP'}}</a></li>
                    {% endfor %}
                    </ul>
                </section>

                <section id="subscription">
                    <a href="/subscribe">Subscribe to our newsletter</a>
                </section>

            </section>

        </section>

        <footer id="page-footer">
            <p class="legal">
                <a href="/privacy-policy">Privacy</a>
                <a href="/terms-and-conditions">Terms</a>
                <a href="http://badoo.us9.list-manage.com/unsubscribe?u=3a0c86d05c387877c15dd82c5&id=efd982ea92">Unsubscribe</a>
            </p>
            <p>&copy; Badoo {{ 'now' | date: "%Y" }}</p>
        </footer>

    </div>

    {% if site.use_lessjs %}
    <!-- less.js to compile LESS into CSS in the browser -->
    <script>
        var less = {
            poll: 1000
        };
    </script>
    <script src="/js/less.js"></script>
    <script>
        less.watch();
    </script>
    {% endif %}

    <script async src="/js/modernizr.js"></script>

    <!-- Disqus Comment Count -->
    <script type="text/javascript">

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());

    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics.code }}', '{{ site.google_analytics.domain }}');
        ga('send', 'pageview');

    </script>

    <!-- Facebook SDK -->
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=643150872465380&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
