* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

.CodeMirror {
    height: 400px;
}

#magic {
    margin: 10px auto;
    display: block;
    width: 50%;
    height: 4em;
    border: 0;
    border-radius: 3px;
    background: #DCFFA1;
    color: #426900;
}