* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

.CodeMirror {
    height: 500px;
}

#magic, #revert {
    margin: 10px 3%;
    width: 44%;
    height: 4em;
    border: 0;
    border-radius: 3px;
    background: #DCFFA1;
    color: #426900;
    box-sizing: border-box;
    float: left;
}